<strong>Olá, {{ deliveryman }}</strong>
<p>Nova encomenda disponivel para entrega:</p>

<strong>Produto: {{ product }}</strong> <br /><br />

<strong>Detalhes:</strong><br />
<p>
  <strong>Nome: </strong> {{ recipientName }}<br />
  <strong>Endereço: </strong> {{ recipientStreet}}<br />
  <strong>Número: </strong> {{ recipientNumber}}<br />
  <strong>Complemento: </strong> {{ recipientComplement }}<br />
  <strong>CEP: </strong> {{ recipientZipcode}}<br />
  <strong>Cidade: </strong> {{ recipientCity}}<br />
  <strong>Estado: </strong> {{ recipientState}}<br /><br />

  <small>Produto disponivel para retirada das 08:00 às 18:00h.</small>
</p>
